name: Hacomfoair MQTT
slug: hacomfoairmqtt
version: "1.0"
description: Home Assistant integration for ComfoAir 350 device via serial or TCP communication and MQTT 

startup: services
boot: auto
init: false
timezone: true 
usb: true
devices:
  - /dev/serial/by-id/


arch:
  - amd64
  - aarch64
  - armv7
  - armhf

options:
  use_socat: true
  comfoair_host: "192.168.40.130"
  comfoair_port: 8899
  Serial_port: "/tmp/comfoair"
  MQTTUser: " "
  MQTTPassword: " "
  RS485_protocol: false
  refresh_interval: 10
  PcMode: 0
  debug: false
  FanOutAbsent: 15
  FanOutLow: 30
  FanOutMid: 50
  FanOutHigh: 70
  FanInAbsent: 15
  FanInLow: 30
  FanInMid: 50
  FanInHigh: 70
  SetUpFanLevelsAtStart: false
  HAEnableAutoDiscoverySensors: true
  HAEnableAutoDiscoveryClimate: true
  HAAutoDiscoveryDeviceName: "CA350"
  HAAutoDiscoveryDeviceId: "ca350"
  HAAutoDiscoveryDeviceManufacturer: "Zehnder"
  HAAutoDiscoveryDeviceModel: "Comfoair 350"
  
  mqtt_base_topic: "comfoair"
  ha_discovery: true

schema:
  use_socat: bool
  comfoair_host: str
  comfoair_port: int
  Serial_port: str
  RS485_protocol: bool
  refresh_interval: int
  PcMode: list(0|1|3|4)
  debug: bool
  FanOutAbsent: int
  FanOutLow: int
  FanOutMid: int
  FanOutHigh: int
  FanInAbsent: int
  FanInLow: int
  FanInMid: int
  FanInHigh: int
  SetUpFanLevelsAtStart: bool
  HAEnableAutoDiscoverySensors: bool
  HAEnableAutoDiscoveryClimate: bool
  HAAutoDiscoveryDeviceName: str
  HAAutoDiscoveryDeviceId: str
  HAAutoDiscoveryDeviceManufacturer: str
  HAAutoDiscoveryDeviceModel: str
  
  mqtt_base_topic: str
  ha_discovery: bool

services:
  - mqtt:need
